@use '../libs/variables' as *;

// トグルボタンのデザイン
.toggle_switch {
  display: table;
  font-size: 20px;
}

.toggle_switch>input {
  display: none;
}

.toggle_switch>label {
  display: block;
  position: relative;
  width: 1.8em;
  height: 1em;
  border-radius: 1em;
  background-color: $cToggleNonChecked;
  cursor: pointer;
}

.toggle_switch>input:checked+label {
  background-color: $cToggleChecked;
}

.toggle_switch>label::before {
  position: absolute;
  top: 0.05em;
  left: 0.05em;
  width: calc(1em - 0.1em);
  height: calc(1em - 0.1em);
  border-radius: calc(1em - 0.1em);
  background-color: #fff;
  transition: 0.5s;
  content: "";
}

.toggle_switch>input:checked+label::before {
  left: calc(100% - 1em + 0.05em);
}

// チェックボックスのデザイン
.checkbox {
  display: block;
  margin: 2px 0;
  padding-left: 6px;
  border-radius: 4px;
  cursor: pointer;

  & span {
    padding-left: 4px;
  }

  &:has(input[type="checkbox"]:checked) {
    background-color: $cChecked;
    accent-color: gray;
  }
}

// ラジオボタンのデザイン
.radio {
  display: block;
  margin: 2px 0;
  padding-left: 6px;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;

  &:has(input[type="radio"]:checked) {
    accent-color: gray;
    background: $cChecked;
  }

  & span {
    padding-left: 4px;
  }
}

// 検索ボタンのデザイン
.search-btn {
  display: flex;
  align-items: center;
  background: $cSearchBtn;
  color: white;
  border-radius: 5px;
  border: 2px solid $cSearchBtnBorder;
  height: 1.8rem;
  margin-bottom: 50px;

  & img {
    padding-right: 5px;
    height: 14px;
  }
}